<% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>



<% content_for :title, "Ideas" %>

<h1>Ideas</h1>

<p>There are currently <%= Idea.count %> active ideas</p>

<%= link_to "Add a new idea", new_idea_path, class: "btn btn-primary mb-3" %>


<div class="list-group w-auto">
  <% @ideas.order(id: :desc).each do |idea| %>
    <%= render idea %>
    <!--
    <p>
      <%= link_to "Show this idea", idea %>
    </p>
    -->
  <% end %>
</div>


